.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 500px;
  position: fixed;
  top: 15%;
  right: 30%;
  border-radius: 10px;
  background-color: rgb(95, 95, 95);
}

@media(max-width: 850px) {
  .form {
    width: 350px;
    right: 265px;
  }
}

@media(max-width: 800px) {
  .form {
    width: 350px;
    right: 210px;
  }
}

@media(max-width: 750px) {
  .form {
    width: 350px;
    right: 185px;
  }
}

@media(max-width: 700px) {
  .form {
    width: 350px;
    right: 160px;
  }
}

@media(max-width: 650px) {
  .form {
    width: 350px;
    right: 135px;
  }
}

@media(max-width: 625px) {
  .form {
    width: 350px;
    right: 115px;
  }
}

@media(max-width: 600px) {
  .form {
    width: 350px;
    right: 105px;
  }
}

@media(max-width: 575px) {
  .form {
    width: 350px;
    right: 90px;
  }
}

@media(max-width: 550px) {
  .form {
    width: 350px;
    right: 75px;
  }
}


@media(max-width: 525px) {
  .form {
    width: 350px;
    right: 65px;
  }
}

@media(max-width: 500px) {
  .form {
    width: 350px;
    right: 65px;
  }
}

@media(max-width: 475px) {
  .form {
    width: 350px;
    right: 52px;
  }
}

@media(max-width: 450px) {
  .form {
    width: 350px;
    right: 41x;
  }
}

@media(max-width: 425px) {
  .form {
    width: 350px;
    right: 30px;
  }
}

@media(max-width: 400px) {
  .form {
    width: 350px;
    right: 25px;
  }
}