::-webkit-scrollbar {
  width: 0px;
}

.basket_Main {
  display: flex;
  justify-content: space-between;
  height: 95vh;
  padding: 50px 20px;
  color: white;
  background-color: black;
}

.order_List {
  width: 45%;
  margin-top: 0px;
  list-style-type: none;
  overflow-y: scroll;
}

@media (min-width: 1200px) {
  .basket_Main {
    padding: 50px 150px;
  }
}

@media (min-width: 1300px) {
  .basket_Main {
    padding: 50px 200px;
  }
}

@media (min-width: 1400px) {
  .basket_Main {
    padding: 50px 250px;
  }
}

@media (max-width: 950px) {
  .basket_Main {
    height: 100%;
  }

  .basket_Main {
    flex-direction: column;
  }  
  
  .order_List {
    width: 100%;
    overflow-y: none;
  }
}