.position_View {
    width: 100%;
    height: 700px;
}

.position_Image {
  width: 100%;
  height: 70%;
}

.position_Info {
  padding: 20px 20px;
}

.position_Info_Item_Bold {
  font-size: 22px;
}

.position_Info_Item {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .position_Image {
    width: 100%;
    height: 60%;
  }
}

@media (max-width: 850px) {
  .position_Image {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 370px) {
  .position_Image {
    width: 100%;
    height: 40%;
  }
}