.wrapper_CheckBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-style: italic;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  background-color: black;
  color: black;
  border: 0.15em solid white;
}

input[type="checkbox"]::before {
  content: "✓";
  font-size: 20px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
