.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgb(95, 95, 95);
    color: black;
}

.photo {
    width: 250px;
    height: 230px;
}

.model_Number {
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.type {
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.price {
    text-align: center;
    font-size: 16px;
    font-style: italic;
}