.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
  background-color: rgb(95, 95, 95);
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo_Image {
  height: 40px;
  width: 40px;
}

.logo_Name {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
  background-color: rgb(95, 95, 95);
}

.link:hover {
  color: black;
}

.dropDown_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

.dropDown_Button {
  height: 100%;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
  background-color: rgb(95, 95, 95);
}

.dropDown_Menu {
  padding: 10px;
  top: 60px;
  left: 0px;
  width: 120px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: rgb(95, 95, 95);
}

.dropDown_Menu_Links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 30px;

  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
}

.dropDown_Menu_Links:hover {
  color: black;
}

.dropDown_Button:hover {
  color: black;
}

.dropDown_Container:hover .dropDown_Menu {
  display: flex;
}

@media (min-width: 1200px) {
  .header {
    padding: 0px 150px;
  }
}

@media (min-width: 1300px) {
  .header {
    padding: 0px 200px;
  }
}

@media (min-width: 1400px) {
  .header {
    padding: 0px 250px;
  }
}

@media (max-width: 900px) {
  .navigation {
    width: 60%;
  }

  .link {
    font-size: 15px;
  }

  .dropDown_Button {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .navigation {
    width: 70%;
  }

  .link {
    font-size: 13px;
  }

  .dropDown_Button {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  .navigation {
    width: 70%;
  }

  .link {
    font-size: 11px;
  }

  .dropDown_Button {
    font-size: 11px;
  }
}
